.footer{
    position: fixed;
    bottom : 0px;
    display: flex;
    justify-content: space-between;
    height : 50px;
    width : 98%;
    background-color: #282828;
    color : white;
    padding-left: 10px;
    padding-right: 10px;
    padding :20px;
}
.footer_left{
    flex:0.3;
    display: flex;
    align-items: center;
    width: 300px;
}
.footer_logo{
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-right: 10px;
}

.footer_middle{
    flex:0.4;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer_middle:hover{
    color:green;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer_right{
    flex:0.3;
}
.footer_right * .MuiSlider-root{
    color:green;
}